:root {
    --primary-color: #008080; 
    --secondary-color: #FFC300;
    --accent1-color: #333333;
    --accent2-color: #F5F5F5;
    --heading-font:"Times New Roman", "Georgia", "Times", serif;
    --body-font: "Arial", "Helvetica", sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header img{
    width: 150px;
    height: auto;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width:850px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article{
    margin: 16px;
    /* padding: 8px; */
}

.socialmedia a{
    text-decoration: none;
}

.hero{
    position: relative;
}

.hero img{
    display: block;
    width:100%;
    height:auto;
}

h1{ 
    position: absolute;
    top: 20px;
    width:100%;
    padding: 16px;
    text-align: center;
    opacity:0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

article{
    position:absolute;
    top:100px;
    left:100px;
}
 
footer p{
    font-size: 10px;
    border-top: 1px solid #333333;
    
}

.hero section h2{
    text-align: center;
    border: 1px solid #333333;
    color: var(--accent2-color);
    background-color: var(--accent1-color);
}

.hero article img{
    width:100px;
    border-radius: 5px;
    float: right;
    margin-right: 5px
    
}


.hero article p{
    color: var(--accent2-color);
    font-family: var(--body-font);
    font-size: 18px;
}

.overlay{
    border:1px solid #333333;
    background-color: #333333;
    margin-top: 350px;
    margin-right: 10px; 
    margin-left: 30px;
    align-items: center;
}

.hero section p{
    text-align: justify;
}