:root {
    --primary-color: #008080; 
    --secondary-color: #FFC300;
    --accent1-color: #333333;
    --accent2-color: #F5F5F5;
    --heading-font:"Times New Roman", "Georgia", "Times", serif;
    --body-font: "Arial", "Helvetica", sans-serif;
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Header styling */

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 1rem;
    background-color: var(--accent2-color);
    border-bottom: 1px solid var(--primary-color);
}

/* Header */

header img {
    max-width: 120px;
    height: auto;
}

nav ul {
    display: flex;          
    gap: 1.5rem;            
    list-style: none;
    justify-content: flex-end; 
}

nav a {
    text-decoration: none;
    font-family: var(--body-font);
    color: var(--accent1-color);
}

nav a:hover{
 color:var(--secondary-color);
 
}

/* happy customer and experience */
.hero{
    position: relative;
}

.hero img{
    display: block;
    width:100%;
    height:auto;
}

h1{ 
    position: absolute;
    top: 20px;
    width:100%;
    padding: 16px;
    text-align: center;
    opacity:0.7;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

.hero article{
    position:absolute;
    top:100px;
    left:100px;
    
}
 
footer p{
    font-size: 10px;
    
    
}

.hero section h2{
    text-align: center;
    border: 1px solid var(--accent1-color);
    color: var(--accent2-color);
    background-color: var(--accent1-color);
    font-family: var(--heading-font);
}

.hero article img{
    width:110px;
    float: right;
    margin-right: 5px;
    border-radius: 10px;
    
}

.hero article p{
    color: var(--accent2-color);
    font-family: var(--body-font);
    font-size: 20px;
    background-color: rgba(51, 51, 51, 0.85); /* Semi-transparent */
    z-index: 5;
}

.overlay{
    
    
    margin-top: 300px;
    margin-right: 10px; 
    margin-left: 30px;
    align-items: center;
}

.hero section p{
    text-align: justify;
}

/* main section with history and main image */

.middle {
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    gap: 2rem;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
}


.middle h2 {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 1rem;
}

.middle p {
    display: flex;         
    align-items: center;
}


.middle .history {
    width: 100%;
    max-width: 300px;
    justify-self: center;  
    border-radius: 8px;
}

/* section with 5 photos */
.secondary {
    display: flex;
    flex-wrap: wrap;         
    justify-content: space-around;
    text-align: center;       
}

.secondary h2 {
    width: 100%;              
    text-align: center;       
    margin-bottom: 20px;      
}

.secondary figure {
    margin: 10px;
    width:155px;
}

/* Footer with icons */

.bottom{
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: flex-end;
    padding: 0.1rem;
    background-color: var(--accent2-color);
    border:2px solid var(--accent1-color);
}

.bottom nav {
    display: flex;
    flex-direction: row;          
    gap: 0.5rem;            
    list-style: none;
    justify-content: flex-end; 
}

.bottom p{
    text-align: center;
    font-size: 18px;
    

}
        
 

